/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
  text-align: center;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

.alignright {
  text-align: right;
}

.wp-block-cover-image {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: auto;
  max-width: 1000%;
  background-size:cover!important;
}

@include tablet {

  .alignleft {
    float: left;
    margin-right: spacer('half');
  }

  .alignright {
    float: right;
    margin-left: spacer('half');
  }

  .alignfull,
  .wp-block-cover-image {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

}

@include desktop {

  .alignleft {
    float: left;
    margin-right: spacer('half');
  }

  .alignright {
    float: right;
    margin-left: spacer('half');
  }

  .alignfull,
  .wp-block-cover-image {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide {
    margin-left: calc(50% - 40vw);
    margin-right: calc(50% - 40vw);
    width: auto;
    max-width: 1000%;
  }

}

@include mobile {
  .alignfull,
  .alignwide,
  .wp-block-cover-image {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color: #000;
  background: #fff;
}

.entry-content {

  h2 {
    @include highlight();
    display:inline-block!important;
    margin: spacer() auto spacer() auto;
    font-size: text-scale('xl');
    line-height: text-scale('xl');
    color: color('background','light');
  }

  p, ul li, ol li, a, span {
    @include text-setting('base');
    strong {
      @include highlight('flavor','background','light','light');
      margin: 0em spacer('quarter') auto spacer('quarter');
      padding: 0em spacer('quarter') spacer('quarter') spacer('quarter')!important;
    }
  }

  p {
    margin-bottom: spacer();
  }

  ul, ol {
    margin-bottom: spacer();
    li {
      margin-bottom: spacer('quarter');
    }
  }

  p.has-drop-cap:not(:focus):first-letter {
    color:       brand-color('flavor', 'dark');
    font-family: 'serif';
  }

  .wp-block-quote {
    p {
      @include       highlight('flavor', 'background', 'base', 'light');
      font-size:     text-scale('base');
      line-height:   line-height('md');
      margin-bottom: spacer('half');
      padding: 0em spacer('quarter') spacer('quarter') spacer('quarter')!important;
      display:       inline!important;
    }
    cite {
      margin-top:  spacer();
      @include     text-setting('base');
      display:     block;
      font-weight: bold;
    }
    cite:before {
      content: '– ';
    }
  }

  .wp-block-cover-image-text {
    font-style:italic;
  }

  .wp-block-pullquote {
    border: 1px 0px 1px 0px;
    border-color: brand-color('foreground', 'light');
  }

  .wp-block-embed,
  .wp-block-gallery,
  .wp-block-cover-image,
  .wp-block-image,
  .wp-block-pullquote,
  .wp-block-quote,
  .wp-block-button {
    margin-top:    spacer('double');
    margin-bottom: spacer('double');
  }

  .wp-block-embed.alignwide {
    position: relative;
    padding-bottom: 56.25%;
    padding-top:    30px;
    height:         0;
    overflow: hidden;
    .entry-content-asset {

      iframe,
      object,
      embed {
        position: absolute;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
      }
    }
  }

  @include mobile {
    .wp-block-gallery .blocks-gallery-image,
    .wp-block-gallery .blocks-gallery-item {
      width:100%;
    }
  }

  .wp-block-button {
    margin-bottom: 2rem;
    text-align: center;
    .wp-block-button__link {
      @extend %button;
    }
  }

  .can_embed {
    margin: spacer('double') auto spacer('double') auto;
  }

}

.wp-block-cover-image-text {
  font-style:italic;
}

