$title-pad: 1rem;

body {
  h1 {
    font-size:3em;
  }
  h2 {
    font-size:2em;
  }
  h3 {
    font-size:1.5em;
  }
  p {
    font-size:1em;
  }
  ul li,
  ol li,
  textarea,
  input,
  select option {
    font-family: 'IBM Plex Mono', monospace;
  }
  .teal-highlight {
    display: inline!important;
    background: rgb(127,255,212)!important;
    padding: .5rem !important;
  }

  .teal-highlight--wrapping {
    position: relative!important;
    left: 0rem !important;
    padding-left: .5rem!important;
    box-shadow: $title-pad 0 0 rgb(127,255,212),
                $title-pad*-1 0 0 rgb(127,255,212)!important;

  }
}

.page.header {
  h1.brand {
    a {
      color:rgba(0, 0, 0, 0.8);
    }
  }
  .secondary.menu {
    .active {
      background:rgba(0,0,0,0);
      border: 1px solid rgba(0,0,0,.8);
    }
  }
}


