// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.ui.top.inverted.visible.menu {
  margin-top:0rem;
  margin-bottom:0rem;
  border-radius: 0;
  .container {
    a#brand {
      background:white;
      svg {
        fill:black;
      }
      padding-left:none!important;
    }
  }
  .svg {
    height:auto;
    width:12rem;
  }
  .right {
    a.item:before {
      background: none!important;
    }
    a#hamburger, div#hamburger {
      display: none;
      @media (max-width:769px) {
        display: block!important;
        fill-color: #ffffff;
      }
      border:none!important;
    }
    a:not(#hamburger) {
      @include mobile {
        display:none!important;
      }
      @include tablet {
        display:none!important;
      }
      border:none!important;
    }
  }
}
.ui.sidebar.menu {
  background: $brand-primary;
  width:100vw;
  .item {
    font-size: text-scale('lg');
  }
}
