.single-event-content,
.single-group-content,
.event,
.group,
.action {
  .block {
    margin-bottom: spacer('double');
  }
  h2.ui.header {
    font-family: $display-family;
    font-size: text-scale('lg');
    padding: spacer() auto spacer() auto!important;
    @include mobile {
      margin-top:spacer();
    }
  }
  .label {
    margin-bottom: spacer('quarter');
  }
  .listing-cta {
    margin: spacer() spacer() auto auto;
    .basic.button {
      background: brand-color('background','light')!important;
      border: 1px solid brand-color('flavor','dark')!important;
      color: brand-color('flavor','dark')!important;
      font-size: text-scale('md');
    }
    .button {
      background: brand-color('flavor','dark')!important;
      border: 1px solid brand-color('flavor','dark')!important;
      color: brand-color('background','light')!important;
      font-size: text-scale('md');
    }
  }
}

.single-group-content, {
  .listing-cta {
    float:left!important;
  }
}

.single-group-content,
.single-action-content {
   padding-top: spacer();
   padding-bottom: spacer();
}

.single-event-content,
.single-action-content {
  padding-bottom: spacer('double');
  .listing-cta {
    float:none;
    .button {
      margin-bottom: none;
    }
  }
}

.action {
  .ui.label {
    background: brand-color('primary')!important;
    color: brand-color('background','light');
    margin-bottom: spacer();
  }
  .ui.label:hover {
    color: brand-color('background','light')!important;
  }
}

.action-list-entry {
  .ui.label {
    background: brand-color('primary')!important;
    color: brand-color('background','light');
    margin-bottom:0rem!important;
  }
  .ui.label:hover {
    color: brand-color('background','light')!important;
  }
}
.single-group-view {
  .single-group-heading {
    h1 {
      margin-bottom:spacer('double')
    }
    h1.highlight.centered, p {
      display:inline-block;
      text-align:center!important;
      margin-bottom:spacer('base');
      margin-left:auto;
      margin-right:auto;
    }
    .group.logo {
      display:block!important;
      margin-bottom:spacer('half');
      max-width:100%!important;
      img {
        max-width:100%!important;
      }
    }
    .website-button {
      text-align: center!important;
      font-size:2.5rem!important;
      a {
        font-size: text-scale('lg')!important;
      }
      .ui.button {
      color: brand-color('background','light')!important;
      background-color: brand-color('flavor','dark')!important;
      text-align:center!important;
      margin-bottom:spacer('base');
      }
    }
  }
  .entry-content {
    margin-top:5rem;
  }
}
