%button {
	background: $color-primary;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: $color-white;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: auto;
	-webkit-appearance: none;
	&:hover {
		background-color: darken( $color-primary, 10%);
		color: $color-white;
		text-decoration: none;
	}
}
